.BuildControls{
    display: flex;
    margin: 0 250px 250px 250px;
    /* width: 500px; */
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    background-color:#CF8F2E;
    box-shadow: 0 2px 1px #ccc;
    padding: 10px 0;
}